html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.typography {
  font-family: 'Roboto';
}
.typography--headline0 {
  font-size: 2.25rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline0 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline0 {
    font-size: 3rem;
  }
}
.typography--headline1,
.blog-post__content h1 {
  font-size: 2rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline1,
  .blog-post__content h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline1,
  .blog-post__content h1 {
    font-size: 2.5rem;
  }
}
.typography--headline2,
.blog-post__content h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline2,
  .blog-post__content h2 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline2,
  .blog-post__content h2 {
    font-size: 2rem;
  }
}
.typography--headline3,
.blog-post__content h3 {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline3,
  .blog-post__content h3 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline3,
  .blog-post__content h3 {
    font-size: 1.5rem;
  }
}
.typography--headline4,
.blog-post__content h4 {
  font-size: 1.25rem;
  line-height: 1.25;
}
.typography--subheadline {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
}
.typography--display {
  font-size: 1.125rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--display {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--display {
    font-size: 1.375rem;
  }
}
.typography--promo-copy {
  font-size: 1rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--promo-copy {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--promo-copy {
    font-size: 1.25rem;
  }
}
.button {
  display: inline-block;
  line-height: 2.5rem;
  text-transform: uppercase;
  background: #035975;
  padding: 0 1rem;
  border-radius: 0.125rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: color 300ms, background 300ms;
  transition: color 300ms, background 300ms;
  font-weight: 500;
}
.button:hover {
  background: #047fa7;
}
.button--inverted {
  background: #fff;
  color: #035975;
}
.button--inverted:hover {
  background: #dff6fe;
}
.button--angular {
  background: #e23237;
  color: #fff;
}
.button--angular:hover {
  background: #c51c21;
}
.header {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 1.5rem;
  zoom: 1;
  text-align: center;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
@media only screen and (min-width: 36rem) {
  .header {
    text-align: left;
  }
}
.header__logo-link {
  display: block;
  color: inherit;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 36rem) {
  .header__logo-link {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.header__logo {
  width: 12rem;
  height: 3rem;
}
.header__navigation {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 36rem) {
  .header__navigation {
    float: left;
  }
}
.header__call-to-action {
  margin: 0.25rem;
  vertical-align: middle;
}
@media only screen and (min-width: 36rem) {
  .header__call-to-action {
    float: right;
  }
}
.navigation {
  zoom: 1;
}
.navigation:before,
.navigation:after {
  content: "";
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation__item {
  float: left;
}
.navigation__item-link {
  display: block;
  padding: 0 1rem;
  line-height: 3rem;
  height: 3rem;
  text-decoration: none;
  font-size: 1.125rem;
  color: inherit;
  border-bottom: 0.125rem solid transparent;
  -webkit-transition: border-bottom 300ms;
  transition: border-bottom 300ms;
}
.navigation__item-link:hover {
  border-bottom: 0.125rem solid #fff;
}
.navigation__item-link--active {
  font-weight: 500;
}
.page-section__wrap {
  zoom: 1;
  padding: 2rem;
}
.page-section__wrap:before,
.page-section__wrap:after {
  content: "";
  display: table;
}
.page-section__wrap:after {
  clear: both;
}
@media only screen and (min-width: 28rem) {
  .page-section__wrap {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .page-section__wrap:before,
  .page-section__wrap:after {
    content: '';
    display: table;
  }
  .page-section__wrap:after {
    clear: both;
  }
}
@media only screen and (min-width: 92rem) {
  .page-section__wrap {
    *zoom: 1;
    width: auto;
    max-width: 60%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .page-section__wrap:before,
  .page-section__wrap:after {
    content: '';
    display: table;
  }
  .page-section__wrap:after {
    clear: both;
  }
}
.header-section {
  height: 100%;
  position: relative;
  background: #035975;
  background-image: url("../img/header-section-background.png");
  background-position: bottom right;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}
.header-section__promo {
  position: absolute;
  top: 30%;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 42rem) {
  .header-section__promo {
    left: 10%;
    padding: 0;
    text-align: left;
    width: auto;
  }
}
.header-section__heading {
  margin-bottom: 1rem;
}
.header-section__promo-copy {
  max-width: 36rem;
  margin-bottom: 1rem;
}
.header-section__promo-tags {
  padding: 0;
  list-style: none;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}
.header-section__promo-tag {
  display: inline-block;
  margin: 0.125rem 0;
  margin-bottom: 0.5rem;
}
.header-section__promo-tag-link {
  color: inherit;
  padding: 0.25rem;
  text-decoration: none;
  border-radius: 0.125rem;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.header-section__promo-tag-link:hover {
  background: #023d50;
}
.concept-section__heading {
  text-align: center;
  margin-bottom: 4rem;
}
.concept-section__column {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 56rem) {
  .concept-section__column {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 30.66666666666666%;
    margin-left: 0%;
    margin-right: 4%;
  }
  .concept-section__column:before,
  .concept-section__column:after {
    content: '';
    display: table;
  }
  .concept-section__column:after {
    clear: both;
  }
  .concept-section__column:last-child {
    margin-right: 0%;
  }
}
.concept-section__column-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.concept-section__column-content {
  margin-bottom: 0.25rem;
  line-height: 1.25;
}
.concept-section__column-graphic {
  display: block;
  margin: auto;
  width: 95%;
  max-width: 16rem;
  margin-bottom: 2rem;
}
.angular-section {
  background: #0273d4;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 56rem) {
  .angular-section {
    text-align: left;
  }
}
.angular-section__heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.angular-section__content {
  line-height: 1.25;
  text-align: left;
}
.angular-section__logo {
  display: block;
  margin: auto;
  width: 12.375rem;
}
@media only screen and (min-width: 56rem) {
  .angular-section__logo {
    float: left;
    margin-right: 4rem;
  }
}
.angular-section__call-to-action {
  margin-top: 2rem;
}
@media only screen and (min-width: 36rem) {
  .angular-section__call-to-action {
    margin-top: 0;
    float: right;
  }
}
.spotlight-section__heading {
  margin-bottom: 0.5rem;
}
.spotlight-section__subheading {
  margin-bottom: 4rem;
}
.spotlight-grid-item {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 56rem) {
  .spotlight-grid-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .spotlight-grid-item:before,
  .spotlight-grid-item:after {
    content: '';
    display: table;
  }
  .spotlight-grid-item:after {
    clear: both;
  }
  .spotlight-grid-item:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .spotlight-grid-item:nth-child(2n+1) {
    clear: both;
  }
}
.spotlight-grid-item__icon {
  display: block;
  margin: auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__icon {
    float: left;
    margin-right: 2rem;
  }
}
.spotlight-grid-item__icon--usability {
  background-image: url("../img/spotlight-usability.png");
  background-color: #12e548;
}
.spotlight-grid-item__icon--performance {
  background-image: url("../img/spotlight-performance.png");
  background-color: #12bfe5;
}
.spotlight-grid-item__icon--individuality {
  background-image: url("../img/spotlight-individuality.png");
  background-color: #e5c112;
}
.spotlight-grid-item__icon--detail {
  background-image: url("../img/spotlight-detail.png");
  background-color: #e51265;
}
.spotlight-grid-item__heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__heading {
    text-align: left;
  }
}
.spotlight-grid-item__content {
  line-height: 1.25;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__content {
    padding-left: 8rem;
  }
}
.contact-section {
  background: url("../img/people-coffee-notes-tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
.contact-section__subheading {
  text-align: center;
  margin-bottom: 10rem;
}
.contact-section__heading-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
}
.contact-section__footer-highlight {
  color: #f00562;
}
.contact-info {
  line-height: 1.25;
}
.contact-info__heading {
  margin-bottom: 1rem;
}
.contact-info__contact-address {
  margin-bottom: 2rem;
}
.contact-info__contact-mail {
  margin-bottom: 2rem;
}
.contact-info__contact-link {
  text-decoration: underline;
  color: inherit;
}
.contact-info__contact-founders {
  margin-bottom: 2rem;
}
.contact-info__contact-identification {
  margin-bottom: 4rem;
}
.contact-info__social-icons {
  display: inline-block;
  margin-bottom: 4rem;
}
.social-icons__item {
  float: left;
  margin: 0 1rem;
}
.social-icons__item-link {
  display: block;
}
.social-icons .icon {
  display: block;
  height: 1rem;
  width: 1rem;
  background: #fff;
}
.blog-header-section {
  overflow: hidden;
  height: 20rem;
  background: #035975;
  padding-top: 12rem;
  color: #fff;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 36rem) {
  .blog-header-section {
    height: 22rem;
    padding-top: 10rem;
  }
}
.blog-header-section__title {
  position: relative;
  z-index: 10;
}
.blog-header-section__title-link {
  color: inherit;
  text-decoration: none;
}
.blog-header-section__stars-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1800px;
  background-repeat: repeat;
  background-position: 50% 50%;
  -webkit-animation-name: move-stars;
  animation-name: move-stars;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  z-index: 0;
}
.blog-header-section__stars-layer--background {
  background-image: url("../img/stars2.png");
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.blog-header-section__stars-layer--foreground {
  background-image: url("../img/stars1.png");
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
@-webkit-keyframes move-stars {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@keyframes move-stars {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.highlight {
  background: #1d1f21;
  color: #c5c8c6;
  padding: 1rem;
  border-radius: 0.125rem;
  margin: 1rem 0;
}
.highlight .hll {
  background-color: #373b41;
}
.highlight .c {
  color: #969896;
}
.highlight .err {
  color: #c66;
}
.highlight .k {
  color: #b294bb;
}
.highlight .l {
  color: #de935f;
}
.highlight .n {
  color: #c5c8c6;
}
.highlight .o {
  color: #8abeb7;
}
.highlight .p {
  color: #c5c8c6;
}
.highlight .cm {
  color: #969896;
}
.highlight .cp {
  color: #969896;
}
.highlight .c1 {
  color: #969896;
}
.highlight .cs {
  color: #969896;
}
.highlight .gd {
  color: #c66;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gh {
  color: #c5c8c6;
  font-weight: bold;
}
.highlight .gi {
  color: #b5bd68;
}
.highlight .gp {
  color: #969896;
  font-weight: bold;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #8abeb7;
  font-weight: bold;
}
.highlight .kc {
  color: #b294bb;
}
.highlight .kd {
  color: #b294bb;
}
.highlight .kn {
  color: #8abeb7;
}
.highlight .kp {
  color: #b294bb;
}
.highlight .kr {
  color: #b294bb;
}
.highlight .kt {
  color: #f0c674;
}
.highlight .ld {
  color: #b5bd68;
}
.highlight .m {
  color: #de935f;
}
.highlight .s {
  color: #b5bd68;
}
.highlight .na {
  color: #81a2be;
}
.highlight .nb {
  color: #c5c8c6;
}
.highlight .nc {
  color: #f0c674;
}
.highlight .no {
  color: #c66;
}
.highlight .nd {
  color: #8abeb7;
}
.highlight .ni {
  color: #c5c8c6;
}
.highlight .ne {
  color: #c66;
}
.highlight .nf {
  color: #81a2be;
}
.highlight .nl {
  color: #c5c8c6;
}
.highlight .nn {
  color: #f0c674;
}
.highlight .nx {
  color: #81a2be;
}
.highlight .py {
  color: #c5c8c6;
}
.highlight .nt {
  color: #8abeb7;
}
.highlight .nv {
  color: #c66;
}
.highlight .ow {
  color: #8abeb7;
}
.highlight .w {
  color: #c5c8c6;
}
.highlight .mf {
  color: #de935f;
}
.highlight .mh {
  color: #de935f;
}
.highlight .mi {
  color: #de935f;
}
.highlight .mo {
  color: #de935f;
}
.highlight .sb {
  color: #b5bd68;
}
.highlight .sc {
  color: #c5c8c6;
}
.highlight .sd {
  color: #969896;
}
.highlight .s2 {
  color: #b5bd68;
}
.highlight .se {
  color: #de935f;
}
.highlight .sh {
  color: #b5bd68;
}
.highlight .si {
  color: #de935f;
}
.highlight .sx {
  color: #b5bd68;
}
.highlight .sr {
  color: #b5bd68;
}
.highlight .s1 {
  color: #b5bd68;
}
.highlight .ss {
  color: #b5bd68;
}
.highlight .bp {
  color: #c5c8c6;
}
.highlight .vc {
  color: #c66;
}
.highlight .vg {
  color: #c66;
}
.highlight .vi {
  color: #c66;
}
.highlight .il {
  color: #de935f;
}
.blog-list {
  list-style: none;
  margin: 2rem 0;
}
.blog-list__item {
  margin-bottom: 2rem;
}
.blog-list-item__link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.blog-list-item__link:hover .blog-list-item__title {
  color: #035975;
}
.blog-list-item__date {
  color: rgba(0,0,0,0.6);
}
.blog-list-item__title {
  margin: 1rem 0;
}
.blog-list-item__abstract {
  line-height: 1.25;
}
.blog-post {
  margin: 2rem 0;
}
.blog-post__title {
  margin-bottom: 1rem;
}
.blog-post__meta {
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}
.blog-post__author {
  color: rgba(0,0,0,0.6);
  text-align: right;
}
.blog-post__content {
  margin-bottom: 2rem;
  line-height: 1.5;
}
.blog-post__content h1 {
  margin: 1rem 0;
}
.blog-post__content h2 {
  margin: 1rem 0;
}
.blog-post__content h3 {
  margin: 1rem 0;
}
.blog-post__content h4 {
  margin: 1rem 0;
}
.blog-post__content a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  color: #035975;
}
.blog-post__content a:hover,
.blog-post__content a:focus,
.blog-post__content a:active {
  text-decoration: underline;
}
.blog-post__content ul {
  list-style: disc;
  padding-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.blog-post__content p {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

 /*# sourceMappingURL=master.css.map */