html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.typography {
  font-family: 'Roboto';
}
.typography--headline1 {
  font-size: 2rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline1 {
    font-size: 2.5rem;
  }
}
.typography--headline2 {
  font-size: 1.5rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline2 {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline2 {
    font-size: 2rem;
  }
}
.typography--headline3 {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--headline3 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--headline3 {
    font-size: 1.5rem;
  }
}
.typography--headline4 {
  font-size: 1.25rem;
  line-height: 1.25;
}
.typography--subheadline {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
}
.typography--display {
  font-size: 1.125rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--display {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--display {
    font-size: 1.375rem;
  }
}
.typography--promo-copy {
  font-size: 1rem;
  line-height: 1.25;
}
@media only screen and (min-width: 56rem) {
  .typography--promo-copy {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 86rem) {
  .typography--promo-copy {
    font-size: 1.25rem;
  }
}
.button {
  display: inline-block;
  line-height: 2.5rem;
  text-transform: uppercase;
  background: #035975;
  padding: 0 1rem;
  border-radius: 0.125rem;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: color 300ms, background 300ms;
  transition: color 300ms, background 300ms;
  font-weight: 500;
}
.button:hover {
  background: #047fa7;
}
.button--inverted {
  background: #fff;
  color: #035975;
}
.button--inverted:hover {
  background: #dff6fe;
}
.button--angular {
  background: #e23237;
  color: #fff;
}
.button--angular:hover {
  background: #c51c21;
}
.header {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 1.5rem;
  zoom: 1;
  text-align: center;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
@media only screen and (min-width: 28rem) {
  .header {
    text-align: left;
  }
}
.header__logo-link {
  display: block;
  color: inherit;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 28rem) {
  .header__logo-link {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.header__logo {
  width: 12rem;
  height: 3rem;
}
.header__navigation {
  float: left;
  color: #fff;
}
.header__call-to-action {
  margin: 0.25rem;
}
@media only screen and (min-width: 28rem) {
  .header__call-to-action {
    float: right;
  }
}
.navigation {
  display: block;
  zoom: 1;
}
.navigation:before,
.navigation:after {
  content: "";
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation__item {
  float: left;
}
.navigation__item-link {
  display: block;
  padding: 0 1rem;
  line-height: 3rem;
  text-decoration: none;
  font-size: 1.125rem;
  color: inherit;
}
.page-section__wrap {
  zoom: 1;
  padding: 2rem;
}
.page-section__wrap:before,
.page-section__wrap:after {
  content: "";
  display: table;
}
.page-section__wrap:after {
  clear: both;
}
@media only screen and (min-width: 28rem) {
  .page-section__wrap {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .page-section__wrap:before,
  .page-section__wrap:after {
    content: '';
    display: table;
  }
  .page-section__wrap:after {
    clear: both;
  }
}
@media only screen and (min-width: 92rem) {
  .page-section__wrap {
    *zoom: 1;
    width: auto;
    max-width: 60%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .page-section__wrap:before,
  .page-section__wrap:after {
    content: '';
    display: table;
  }
  .page-section__wrap:after {
    clear: both;
  }
}
.header-section {
  height: 100%;
  position: relative;
  background: #035975;
  background-image: url("../img/header-section-background.png");
  background-image: url("../img/header-section-background.png"), -webkit-linear-gradient(top, #023d50, #035975);
  background-image: url("../img/header-section-background.png"), linear-gradient(to bottom, #023d50, #035975);
  background-position: bottom right;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}
.header-section__promo {
  position: absolute;
  top: 30%;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 42rem) {
  .header-section__promo {
    left: 10%;
    padding: 0;
    text-align: left;
    width: auto;
  }
}
.header-section__heading {
  margin-bottom: 1rem;
}
.header-section__promo-copy {
  max-width: 36rem;
  margin-bottom: 1rem;
}
.header-section__promo-tags {
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  line-height: 1.25;
}
.header-section__promo-tag {
  display: inline-block;
  margin: 0.125rem 0;
}
.header-section__promo-tag-link {
  color: inherit;
  padding: 0.25rem;
  text-decoration: none;
  border-radius: 0.125rem;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}
.header-section__promo-tag-link:hover {
  background: #023d50;
}
.concept-section__heading {
  text-align: center;
  margin-bottom: 4rem;
}
.concept-section__column {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 56rem) {
  .concept-section__column {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 30.66666666666666%;
    margin-left: 0%;
    margin-right: 4%;
  }
  .concept-section__column:before,
  .concept-section__column:after {
    content: '';
    display: table;
  }
  .concept-section__column:after {
    clear: both;
  }
  .concept-section__column:last-child {
    margin-right: 0%;
  }
}
.concept-section__column-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.concept-section__column-content {
  margin-bottom: 0.25rem;
  line-height: 1.25;
}
.concept-section__column-graphic {
  display: block;
  margin: auto;
  width: 95%;
  max-width: 16rem;
  margin-bottom: 2rem;
}
.angular-section {
  background: #0273d4;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 56rem) {
  .angular-section {
    text-align: left;
  }
}
.angular-section__heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}
.angular-section__content {
  line-height: 1.25;
  text-align: left;
}
.angular-section__logo {
  display: block;
  margin: auto;
  width: 12.375rem;
}
@media only screen and (min-width: 56rem) {
  .angular-section__logo {
    float: left;
    margin-right: 4rem;
  }
}
.angular-section__call-to-action {
  margin-top: 2rem;
}
@media only screen and (min-width: 36rem) {
  .angular-section__call-to-action {
    margin-top: 0;
    float: right;
  }
}
.spotlight-section__heading {
  margin-bottom: 0.5rem;
}
.spotlight-section__subheading {
  margin-bottom: 4rem;
}
.spotlight-grid-item {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 56rem) {
  .spotlight-grid-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .spotlight-grid-item:before,
  .spotlight-grid-item:after {
    content: '';
    display: table;
  }
  .spotlight-grid-item:after {
    clear: both;
  }
  .spotlight-grid-item:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .spotlight-grid-item:nth-child(2n+1) {
    clear: both;
  }
}
.spotlight-grid-item__icon {
  display: block;
  margin: auto;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__icon {
    float: left;
    margin-right: 2rem;
  }
}
.spotlight-grid-item__icon--usability {
  background-image: url("../img/spotlight-usability.png");
  background-color: #12e548;
}
.spotlight-grid-item__icon--performance {
  background-image: url("../img/spotlight-performance.png");
  background-color: #12bfe5;
}
.spotlight-grid-item__icon--individuality {
  background-image: url("../img/spotlight-individuality.png");
  background-color: #e5c112;
}
.spotlight-grid-item__icon--detail {
  background-image: url("../img/spotlight-detail.png");
  background-color: #e51265;
}
.spotlight-grid-item__heading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__heading {
    text-align: left;
  }
}
.spotlight-grid-item__content {
  line-height: 1.25;
}
@media only screen and (min-width: 32rem) {
  .spotlight-grid-item__content {
    padding-left: 8rem;
  }
}
.contact-section {
  background: url("../img/people-coffee-notes-tea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
.contact-section__subheading {
  text-align: center;
  margin-bottom: 10rem;
}
.contact-section__heading-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 500;
}
.contact-section__footer-highlight {
  color: #f00562;
}
.contact-info {
  line-height: 1.25;
}
.contact-info__heading {
  margin-bottom: 1rem;
}
.contact-info__contact-address {
  margin-bottom: 2rem;
}
.contact-info__contact-mail {
  margin-bottom: 2rem;
}
.contact-info__contact-link {
  text-decoration: underline;
  color: inherit;
}
.contact-info__contact-founders {
  margin-bottom: 2rem;
}
.contact-info__contact-identification {
  margin-bottom: 4rem;
}
.contact-info__social-icons {
  display: inline-block;
  margin-bottom: 4rem;
}
.social-icons__item {
  float: left;
  margin: 0 1rem;
}
.social-icons__item-link {
  display: block;
}
.social-icons .icon {
  display: block;
  height: 1rem;
  width: 1rem;
  background: #fff;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

 /*# sourceMappingURL=master.css.map */